@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    display: grid;
    background-color: rgb(243, 210, 80);
    font-family: Lato;
    font-size: 20px;
}
body h1, body h2 {
    text-align: center;
}

.big_wrapper {
    gap: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.wrapper {
    gap: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.block {
    display: grid;
    width: 270px;
    height: 270px;
    padding: 15px;
    background-color: rgb(236, 236, 236);
}

.big_block {
    width: 500px;
    padding: 15px;
    background-color: rgb(236, 236, 236);
}

@media only screen and (max-width: 1024px) {
    .wrapper p, .big_wrapper p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper p, .big_wrapper p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .wrapper p, .big_wrapper p {
        font-size: 12px;
    }
}