<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>A new set</title>
    <meta name="description" content="forms">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
</head>

<body>
    <div class="login-box">
        <div id="success-box"></div>
        <img alt="done" src="https://st.depositphotos.com/2398103/5179/v/450/depositphotos_51793945-stock-illustration-vector-well-done-star.jpg?forcejpeg=true">
    </div>
</body>

</html>