.slider {
    display: flex;
    justify-content: center;
}

.slider img {
    width: 800px;
    height: 400px;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.slider button {
    width: 40px;
    background-color: rgb(222, 222, 222);
    color: gray;
    font-size: 20px;
    border: 1px solid gray;
}