<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Go web!</title>
    <meta name="description" content="t07. Go web!">
    <link rel="stylesheet" href="style.css">
</head>

<body>