<%- include("header.ejs") %>

<h1>Quantum time Now:</h1>
<div><%= `In quantum space you were absent for ${time[0]} years, ${time[1]} months, ${time[2]} days.` %></div>
<div><a href="/">Back to index</a></div>

<%- include("footer.ejs") %>